body {
  width: 1200px;
  font-family: "Press Start 2P", cursive;
  /* font-size: 75%; */
  color: gold;
  margin: 0 auto;
  background-image: url("../images/Untitled-1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: gold;
  text-decoration: none; /* no underline */
}

a:hover {
  color: gold;
  text-decoration: none;
}

h3 {
  font-size: 1rem;
  padding-top: 3rem;
}
#splash-screen button {
  font-size: 75%;
}

#splash-footer {
  position: fixed;
  bottom: 0%;
  text-align: center;
  width: 950px;
}

#form-text {
  background-color: rgb(16, 16, 16);
  color: gold;
  border: 1px solid gold;
  padding: 2px 10px;
}

#instructions-button {
  position: relative;
  top: 12px;

  text-align: center;
}

#help-screen {
  font-size: 80%;
  width: 90%;
  margin: 1rem auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  height: 95vh;
}

#help-screen::-webkit-scrollbar {
  display: none;
}

#help-screen p {
  margin-top: 2rem;
  color: white;
}

#moving-around {
  display: flex;
  align-items: center;
  justify-content: center;
}

#moving-around img {
  height: 50px;
  width: 50px;
}

#moving-around p {
  padding-left: 0.5rem;
  padding-right: 2rem;
}
#help-screen-close-button {
  float: right;
  position: sticky;
  top: 0;
}

.center-text {
  text-align: center;
}

.game-wrapper {
  width: 950px;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(16, 16, 16);
  overflow: hidden;
}

.game-area {
  margin: auto;
}

.scoreboard {
  font-size: 75%;
  height: 80px;
  /* margin: 20px 38px 0 38px; */
  padding: 5px 16px 0 16px;
  display: grid;
  /* justify-items: center; */
  grid-template-columns: 60px 120px 120px auto 120px 120px 60px;
  grid-template-rows: 35px auto;
}

.scoreboard-buttons button {
  font-size: 65%;
}

.scoreboard p {
  margin-top: 0.5rem;
}

.player-one-scoreboard {
  grid-column: 1 / 4;
}

.high-scoreboard {
  grid-column: 5 / 8;
  text-align: right;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  /* width: 768px; */
  /* height: 504px; */
  width: 928px;
  height: 609px;
  border: 1 px solid rgb(16, 16, 16);
  margin: 0 auto;
}

.grid div {
  /* width: 24px;
  height: 24px; */
  width: 29px;
  height: 29px;
}

.coin {
  background-color: yellow;
  border: 11px solid rgb(16, 16, 16);
  box-sizing: border-box;
  border-radius: 50%;
}

.wall {
  background-image: url(../images/brick.png);
}

.wall-9 {
  background-image: url(../images/brick.png);
  transform: rotate(90deg);
}

.dollar-bill {
  background-color: limegreen;
  border-top: 8px solid rgb(16, 16, 16);
  border-bottom: 8px solid rgb(16, 16, 16);
  border-left: 3px solid rgb(16, 16, 16);
  border-right: 3px solid rgb(16, 16, 16);
  box-sizing: border-box;
}

.vault-door {
  background-image: url("../images/vault-door.jpg");
}

.burglar {
  background-color: red;
  border-radius: 0;
  border: 0;
  background-image: url("../images/burglar.png");
  z-index: 10;
  /* background-color: #000; */
}

.barbrady {
  /* background-color: goldenrod; */
  border-radius: 0;
  border: 0;
  background-image: url("../images/barbrady.jpg");
  border: 0px;
  z-index: 100;
}

.wiggum {
  border-radius: 0;
  background-color: blue;
  background-image: url("../images/barbrady.jpg");
  border: 0px;
  z-index: 99;
}

.drebin {
  border-radius: 0;
  background-color: wheat;
  background-image: url("../images/barbrady.jpg");
  border: 0px;
  z-index: 98;
}

.kimble {
  border-radius: 0;
  background-color: red;
  background-image: url("../images/barbrady.jpg");
  border: 0px;
  z-index: 97;
}

.vault-open {
  background-color: white;
}

table {
  table-layout: auto;
  width: 370px;
  border-collapse: collapse;
}

table td:nth-child(2) {
  text-align: end;
}
